version: "3.8"

services:
  api:
    build: .
    ports:
      - "5001:5001"
    env_file:
      - .env
    environment:
      - MONGO_URI=mongodb://mongo:27017/mini-task-tracker
      - REDIS_URL=redis://redis:6379
    depends_on:
      - mongo
      - redis
    networks:
      - app-network

  mongo:
    image: mongo:latest
    ports:
      - "27018:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongo-data:
